* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #fffafc;
}

header {
    background-color: #aa11f1e3;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 8%;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(#ffd6e8, #fff);
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.hero p {
    margin-bottom: 20px;
}

.btn {
    background-color: #d63384;
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.produtos {
    padding: 60px 8%;
    text-align: center;
}

.cards {
    display: flex;
    gap: 20px;
    margin-top: 30px;
    justify-content: center;
}

.card {
    background: white;
    padding: 20px;
    width: 280px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.sobre {
    padding: 60px 8%;
    background-color: #ffe8f3;
    text-align: center;
}

.contato {
    padding: 60px 8%;
    text-align: center;
}

form {
    max-width: 500px;
    margin: auto;
}

input,
textarea {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-top: 15px;
    background-color: #a200ff;
    color: white;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 5px;
}

footer {
    background-color: #6013ee;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Responsividade */

@media (max-width: 768px) {

    header {
        flex-direction: column;
        gap: 15px;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }

    .hero h1 {
        font-size: 2rem;
    }
}